# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.DS_Store
out
gen
settings.ini
.env

uploads/
static/
node_modules
webpack-stats.json


pychromeless/*/docker-compose.yml
pychromeless/*/test.py
pychromeless/*/*.zip
pychromeless/*/bin/
Channel/__pycache__/
Channel/migrations/__pycache__/
FileUpload/__pycache__/
FileUpload/migrations/__pycache__/
KakaoAutoReply/__pycache__/
Post/__pycache__/
Post/migrations/__pycache__/
Reply/__pycache__/
Reply/migrations/__pycache__/
Api/__pycache__/
Api/migrations/__pycache__/
pychromeless/auto_reply/src/__pycache__/
pychromeless/cookie_check/src/__pycache__/
pychromeless/cookie_refresh/src/__pycache__/
pychromeless/task_clear/src/__pycache__/
