{% extends "base.html" %}

{% block content %}
    <div id="content">
        <form action="" method="post">
            {% csrf_token %}

            {% if form.errors %}
                errors
            {% endif %}

            <fieldset>
                <div>
                    {{ form.old_password.label_tag }}{{ form.old_password }}
                </div>
                <div>
                    {{ form.new_password1.label_tag }}{{ form.new_password1 }}
                </div>
                <div>
                    {{ form.new_password2.label_tag }}{{ form.new_password2 }}
                </div>
            </fieldset>

            <div>
                <input type="submit" value="Password Change">
            </div>
        </form>
    </div>
{% endblock %}