<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Kakao auto reply{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'vendor' 'css' %}

    {% block style %}{% endblock %}
    <script>
        {% if user.is_authenticated %}
            var USER_INFO = {
                is_authenticated: true,
                user_id: {{ user.id }}
            };
        {% else %}
            var USER_INFO = {
                is_authenticated: false
            };
        {% endif %}
    </script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">댓글자동 오지게</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="{% url 'Channel:index' %}" class="nav-link">채널</a></li>
                </ul>

                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item"><span class="nav-link" id="cookie_status"></span></li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_active %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% firstof user.get_short_name user.get_username %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'FileUpload:index' %}">쿠키 수동 등록</a>
                                    <a class="dropdown-item" href="{% url 'password_change' %}">비밀번호 변경</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">로그인</a></li>
                            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">회원가입</a></li>
                        {% endif %}
                    </ul>
                </form>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
{% render_bundle 'vendor' 'js' %}
<script>
    (function ($) {

    })(jQuery);
</script>
<script>
    (function ($) {
        $(document).ready(function () {
            if (USER_INFO['is_authenticated']) {
                check_cookie();
                setInterval(function () {
                    check_cookie();
                }, 10000)
            }

            function check_cookie() {
                var cookie_status = "관리자에게 문의";
                var state_class = "text-danger";
                $.ajax({
                    dataType: 'json',
                    url: "{% url 'Api:check_cookie' %}",
                    data: {
                        user_id: USER_INFO['user_id']
                    }
                }).done(function (data) {
                    if (data['status']) {
                        if (data['cookie_status'] === "0") {
                            cookie_status = "비활성화 중";
                            state_class = "text-muted";
                        } else if (data['cookie_status'] === "1") {
                            cookie_status = "활성화 중";
                            state_class = "text-success";
                        } else if (data['cookie_status'] === "2") {
                            cookie_status = "인증파일 없음";
                            state_class = "text-primary";
                        } else if (data['cookie_status'] === "3") {
                            cookie_status = "곧 인증 만료";
                            state_class = "text-warning";
                        } else if (data['cookie_status'] === "4") {
                            cookie_status = "인증 에러";
                            state_class = "text-danger";
                        }

                    }
                    $("#cookie_status").text(cookie_status).addClass(state_class)
                }).fail(function () {
                    $("#cookie_status").text(cookie_status).addClass(state_class)
                })
            }
        })
    })(jQuery)
</script>
{% block scripts %}{% endblock %}
</body>
</html>