<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Kakao auto reply{% endblock %}</title>
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    {% block style %}{% endblock %}
    <script>
        {% if user.is_authenticated %}
            var USER_INFO = {
                is_authenticated: true,
                user_id: {{ user.id }}
            };
        {% else %}
            var USER_INFO = {
                is_authenticated: false
            };
        {% endif %}
    </script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">댓글자동 오지게</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item"><a href="{% url 'FileUpload:index' %}" class="nav-link">쿠키등록</a></li>
                <li class="nav-item"><a href="{% url 'Channel:index' %}" class="nav-link">채널</a></li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link disabled" id="cookie_state"></a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_active %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% firstof user.get_short_name user.get_username %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'password_change' %}">비밀번호 변경</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">로그인</a></li>
                        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">회원가입</a></li>
                    {% endif %}
                </ul>
            </form>
        </div>
    </nav>
</header>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
<script>
    (function ($) {
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        })
    })(jQuery);
</script>
<script>
    (function ($) {
        $(document).ready(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


            if (USER_INFO['is_authenticated']) {
                check_cookie();
            }

            function check_cookie() {
                var cookie_state = "관리자에게 문의";
                $.ajax({
                    dataType: 'json',
                    url: "{% url 'Api:check_cookie' %}",
                    data: {
                        user_id: USER_INFO['user_id']
                    }
                }).done(function (data) {
                    if (data['status']) {
                        if (data['cookie_state'] === "0") {
                            cookie_state = "비활성화 중"
                        } else if (data['cookie_state'] === "1") {
                            cookie_state = "활성화 중"
                        } else if (data['cookie_state'] === "2") {
                            cookie_state = "인증파일 없음"
                        } else if (data['cookie_state'] === "3") {
                            cookie_state = "곧 인증 만료"
                        } else if (data['cookie_state'] === "4") {
                            cookie_state = "인증 에러"
                        }

                    }
                    $("#cookie_state").text(cookie_state)
                }).fail(function () {
                    $("#cookie_state").text(cookie_state)
                })
            }
        })
    })(jQuery)
</script>
{% block scripts %}{% endblock %}
</body>
</html>